/*background image*/
body { background: cyan url("../images/background.jpg") no-repeat fixed center; }

/*logo*/
#banner img { height: 100px; width: 200px; }

/*navigation*/
nav ul { list-style-type: none; margin: 0; padding: 0; width: 200px; font-weight: bold; }
nav ul li a { display: block; padding-top: 10px; padding-bottom: 10px; text-decoration: none; color: magenta; }
nav ul li a:hover { background-color: magenta; padding-top: 5px; padding-bottom: 5px; color: cyan;
    border: 5px solid cyan; }

/*general styles*/
.main-header { color: magenta; border: 5px solid cyan; background-color: midnightblue; display: inline-block;
    padding: 5px; }
.bold { font-weight: bold; }
.clearfix {content: ""; clear: both; display: table; }

/*home page styles*/
#home-intro { width: 50%; color: magenta; border: 5px solid cyan; background-color: midnightblue; padding: 5px; }

/*videolist styles*/
.video-repeater { margin-bottom: 20px; border: 5px solid cyan; padding: 5px; color: magenta;
    background-color: midnightblue;}
.video-repeater:hover { border: 5px solid magenta; }
.details { padding: 15px 15px 15px 400px; text-align: center; }
.poster { height: 100%; width: auto; float: left; overflow: auto; }

/*styles used in both videolist and cart pages*/
.detail-header { padding: 5px; text-decoration: underline; margin-top: 0; }
.addtocart { text-align: center; border: 3px inset cyan; color: cyan; background-color: magenta; cursor: pointer;
    padding-top: 5px; padding-bottom: 5px; }

/*cart page items*/
.cartlist { width: 50%; border: 5px solid cyan; padding: 5px; color: magenta; background-color: midnightblue; }
.cartlist:hover { border: 5px solid magenta; }
.cartlist a:link { color: cyan; }
.cartlist a:visited { color: yellow; }
.cartlist a:hover { color: magenta; }
.cartlist a:active { color: yellow; }
.poster-thumb {height: 100%; width: auto; float: right; overflow: auto; }
.cart-details { }

/*modal stuff*/
.modal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content
{
    position: fixed; bottom: 0; background-color: midnightblue; width: 100%; color: magenta;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s; }

/* The Close Button */
.close { color: midnightblue; float: right; font-size: 28px; font-weight: bold; }
.close:hover, .close:focus { color: cyan; text-decoration: none; cursor: pointer; }
.modal-header { padding: 3px; background-color: cyan; color: magenta; }
.modal-header:hover, modal-header:focus { background-color: magenta; color: cyan; }
.modal-body { padding: 3px; }
.modal-footer { padding: 3px; background-color: cyan; color: magenta; }
.modal-footer:hover, modal-footer:focus { background-color: magenta; color: cyan; }

/* Add Animation */
@-webkit-keyframes slideIn { from {bottom: -300px; opacity: 0} to {bottom: 0; opacity: 1} }
@keyframes slideIn { from {bottom: -300px; opacity: 0} to {bottom: 0; opacity: 1} }
@-webkit-keyframes fadeIn { from {opacity: 0} to {opacity: 1} }
@keyframes fadeIn { from {opacity: 0} to {opacity: 1} }