body { background: cyan url("background.jpg") no-repeat fixed center; }

/*logo*/
#banner img { height: 100px; width: 200px; }

/*navigation*/
nav ul { list-style-type: none; margin: 0; padding: 0; width: 200px; font-weight: bold; }
nav ul li a { display: block; padding-top: 10px; padding-bottom: 10px; text-decoration: none; color: magenta; }
nav ul li a:hover { background-color: magenta; padding-top: 5px; padding-bottom: 5px; color: cyan;
    border: 5px solid cyan; }

/*general styles*/
.main-header { color: magenta; border: 5px solid cyan; background-color: midnightblue; display: inline-block;
    padding: 5px; }
.bold { font-weight: bold; }
.clearfix {content: ""; clear: both; display: table; }

/*home page styles*/
#home-intro { color: magenta; border: 5px solid cyan; background-color: midnightblue; padding: 5px; }

/*videolist styles*/
.video-repeater { margin-bottom: 20px; border: 5px solid cyan; padding: 5px;
    color: magenta; background-color: midnightblue;}
.video-repeater:hover { border: 5px solid magenta; }
.video-repeater .poster { height: 100%; width: auto; float: left; overflow: auto; }
.video-repeater .detail-header { color: magenta; padding: 5px; text-decoration: underline; margin-top: 0; }
.video-repeater .details { padding: 15px 15px 15px 400px; text-align: center; }
.addtocart { text-align: center; border: 3px inset cyan; color: cyan; background-color: magenta; cursor: pointer;
    padding: 5px 5px 5px 5px; }

/*cart page items*/
#cartlist { border: 5px solid cyan; padding: 5px; color: magenta; background-color: midnightblue; }